go 1.24.0

use (
	./evently/events
	./evently/gateway
	// ./evently/combined/users
    ./evently/bookings/cancel_consumer
    ./evently/bookings/bookings_consumer
    ./evently/bookings/update_seats_consumer
    ./evently/combined
)
